@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


:root {
  --primary-white: #fff;
  --logo-orange: #ed791a;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Bangers", cursive;
  /*font-family: "Roboto Condensed" sans-serif;*/
}

/********************* NAVBAR ******************************/

.logo{
  font-size: 34px;
  font-weight: 500;
  width: 16.25rem;
  color: var(--primary-red);
}

.logo:hover {
  transform: none;
  text-shadow: 2px 2px 5px #f33501;
  transition: 0.28s ease-in-out !important;
}

/*********** MENU LINKS **************/
nav {
  z-index: 2;
  padding-bottom: 50px;
}

.navbar-toggler.collapsed {
  border: none;
}

.navbar-toggler.collapsed:hover {
  transform: scale(1.5);
  text-shadow: 2px 2px 5px #f33501;
  transition: 0.28s ease-in-out !important;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  font-size: 25px;

}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);

  /* Used For The Nav Item Transition Fade-out */
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  transition-duration: 2s;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-hover-red);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-red);
  -webkit-box-shadow: inset 0px 30px 20px -20px #f33501;
  -moz-box-shadow:    inset 0px 30px 20px -20px #f33501;
  box-shadow:         inset 0px 30px 20px -20px #f33501;
  transition: 0.4s ease-in-out;

}

/********************* HEADER ******************************/
.header-wrapper {
  position: relative;
  background: url(./media/computer-dark.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh;
  display: flex;
  flex-direction: column;
}

.flip-card-3D-wrapper {
  width: 700px;
  height: 700px;
  max-width: 700px;
  max-height: 700px;
  position: relative;
  -o-perspective: 900px;
  -webkit-perspective: 900px;
  -ms-perspective: 900px;
  /*overflow: hidden;
  display: block;
  align-items: center;
  justify-content: center fill;
  transform: rotate(45deg);*/
  perspective: 900px;
  margin: 0 auto;

}

.header-diamond {

  width: 700px;
  height: 700px;
  margin: auto;

  /* this is the border around the diamond */
  outline: 5px solid #ef4035;
  outline-offset: 0px;
  
  /* The red glow around The Diamond */
  box-shadow: 0px 0px 50px 10px #ef4035;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */

  overflow: hidden;
  display: block;
  align-items: center;
  justify-content: center fill;
  transform: rotate(45deg);

  background-color: rgba(0,0,0, 0.45); /* Black w/opacity/see-through */
  background-size: cover;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  transition-duration: 4s;
}

/*.header-diamond::before {
  content: "";
  display: block;
  width: 141%;
  height: 141%;
  flex-shrink:0;
  background: center/cover;
  background-image: inherit;
  transform: rotate(-45deg);
}*/

/* Grows the Header Diamond and Increases the Glow(box-shadow) */
.header-diamond:hover {
  box-shadow: 0px 0px 60px 25px #f33501;
  background-color: rgba(0,0,0, 0.60);
  transform: scale(1.05) rotate(45deg);
  transition: 0.8s ease-in-out;
}

.main-info {
  display: flex;
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;
  transform-style: preserve-3d;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-red);
  text-transform: uppercase;
}

/*--------------------- TYPED-TEXT -------------------------*/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width:768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/*---------------------- HEADER MAIN OFFER BUTTON -------------------------*/
.header-diamond-btn {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  transform: scale(1.20);
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-red);
  margin: 2rem;
  cursor: pointer;

  /* The Reverse Transition Effect On The Header Button */
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  transition-duration: 4s;
}

.header-diamond-btn:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  box-shadow: 0px 0px 40px 8px #ef4035;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
  transform: scale(1.35);
  transition: 0.28s ease-in-out;
}

/* USED FOR THE DIAMOND FLIP */
#header-diamond .main-info, #header-diamond .about-me-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  -webkit-box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
  -moz-box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
  box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
}

#header-diamond .main-info {
  
}

#header-diamond .about-me-card-back {
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/*------------------------ PARTICLES JS----------------------------*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;

  }
}

.country-particles {
  background-size: cover;
  background-position: center;
  height: 90vh;
}

/***************** RHOMBUS ATTEMPT *********************8*/
/*.diamond {
  width: 500px;
  height: 500px;
  margin: 200px;*/
  /* this is your border*/
  /*outline: 5px solid #bce9ec;
  outline-offset: 0px;

  box-shadow: 0px 0px 40px 10px #0ff;
  *//* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */

  /**/
 /* overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}*/

/*.diamond::before {
  content: "";
  display: block;
  width: 141%;
  height: 141%;
  flex-shrink:0;
  background: center/cover;
  background-image: inherit;
  transform: rotate(-45deg);
  background-color: var(--primary-red);
}*/

.diamond-narrow {
      width: 0;
      height: 0;
      border: 200px solid transparent;
      border-bottom: 300px solid red;
      position: relative;
      top: -50px;
      left: 57%;
      transform: rotate(90deg);
}

.diamond-narrow:after {
      content: '';
      position: absolute;
      left: -200px;
      top: 350px;
      width: 0;
      height: 0;
      border: 200px solid transparent;
      border-top: 300px solid red;
}

/*********************** About Me Section ******************************/
.rest {
  background: #000;
}